<!DOCTYPE html>
<html lang="en">

<head>
  <title>Item</title>
</head>

<body>
  {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li><strong>{{message}}</strong></li>
        {% endfor %}
      </ul>
      {% endif %}
  {% endwith %}
  <form method="POST">
    {{ form.csrf_token }}
    {{ form.name.label }} <br>
    {{ form.name }} <br>
    {{ form.description.label }} <br>
    {{ form.description }} <br>
    {{form.category.label}} <br>
    {{ form.category()}} <br>
    <input type="submit">
  </form>
</body>

</html>
