<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Item</title>
</head>
<body>
  <form method="POST">
    <label> Title <input type = "text" name = "name" value = "{{name}}"></input></label> <br>
    <label> Description <input type = "text" name = "description" value = "{{description}}"> </input></label> <br>
    <select name="categories">
      {% for category in categories %}
          {% if category.name is eq selected %}
            <option value={{category.name}} selected>{{category.name}}</option>
          {% else %}
            <option value={{category.name}}>{{category.name}}</option>
          {% endif %}
      {% endfor %}
    </select>
    <br>
    <input type="submit">
    {{error}}
</body>
</html>
