<!DOCTYPE html>
<html lang="en">
<head>
    <title>Catalog</title>
</head>
<body>
  <h1> Categories </h1>
  <ul>
  {% for category in categories %}
      <li><a href="{{url_for('catalog.root', category=category.name)}}">{{ category.name }}</a></li>
  {% endfor %}
  </ul>
  <h1> {{ category }} Items </h1>
  <p><a href="/catalog/add">Add Item</a></p>
  <ul>
  {% for item in items %}
      <li><a href="{{url_for('catalog.root', category=item.category.name, item=item.name)}}">{{ item.name }} ({{item.category.name}})</a></li>
  {% endfor %}
  </ul>
</body>
</html>
